workflows/My workflow.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables": {
      "main": [
        [
          {
            "node": "Exercises",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-05T16:25:56.838Z",
  "id": "P4hdpfpTHY1YrmDP",
  "isArchived": false,
  "meta": null,
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "3bb319d4-c98a-4757-b50d-4b0ce351710a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "/exercises",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "10"
            },
            {
              "name": "offset",
              "value": "0"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "exercisedb.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "c9e04f83fcmsh33fa337e5c83e70p1db8c2jsn90c1fd0022e8"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        176,
        208
      ],
      "id": "c1c147ac-e779-4921-8f2a-22108bf1e35c",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}/exercises",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "={{ $json.limit }}"
            },
            {
              "name": "offset",
              "value": "0"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "exercisedb.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "={{ $json.apikey }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        560,
        -128
      ],
      "id": "829ec5f7-6b5f-4464-8410-5f18b4a6faa8",
      "name": "Exercises"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "73aef86d-1e35-44f4-9361-8a2b1696dd7c",
              "name": "url",
              "value": "https://exercisedb.p.rapidapi.com",
              "type": "string"
            },
            {
              "id": "277b6ed6-552f-4d26-926f-bcfd794128b3",
              "name": "limit",
              "value": "2",
              "type": "string"
            },
            {
              "id": "f10c9b9c-65b3-4ce6-b3f3-dd929b4c4d71",
              "name": "apikey",
              "value": "=c9e04f83fcmsh33fa337e5c83e70p1db8c2jsn90c1fd0022e8",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "19b1e124-4ae1-4fd4-a741-3ed2874e6c79",
      "name": "Variables"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-03-05T16:25:56.840Z",
      "createdAt": "2026-03-05T16:25:56.840Z",
      "role": "workflow:owner",
      "workflowId": "P4hdpfpTHY1YrmDP",
      "projectId": "sqRrmI8D55iXyASx"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-05T16:40:52.037Z",
  "versionId": "3e3ce418-711f-4afa-8e35-14944d680d1f"
}