workflows/UDIA chatbot de voz con ElevenLabs.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-10T11:41:55.000Z",
    "createdAt": "2026-03-10T11:38:57.700Z",
    "versionId": "26f2c77b-3767-4838-a28f-7966f0a2144a",
    "workflowId": "TcVOJnglagFoA5Lb",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "elevenlabs",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "id": "10198067-660b-443a-acd4-9c64326212d2",
        "name": "Webhook",
        "webhookId": "c07c1369-a71d-4704-9a10-cff1b9b09222"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          560,
          0
        ],
        "id": "aec372ac-3b90-4381-99bf-782babdd07f9",
        "name": "Respond to ElevenLabs"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.body.pregunta }}",
          "options": {
            "systemMessage": "Eres un asistente experto y profesional especializado en la planificación de mi viaje a Bali. Para responder a cualquier pregunta, OBLIGATORIAMENTE debes usar la herramienta Pinecone Vector Store para obtener los datos correctos.\n\nREGLAS DE ESTILO MUY IMPORTANTES:\n\nResponde con naturalidad, autoridad y de forma directa.\n\nNUNCA uses frases como \"Según tus notas\", \"El documento dice\", \"En la base de datos encontré\" o similares. Finge que esta información es tu propio conocimiento experto.\n\nSi Pinecone no te devuelve resultados o no tienes la respuesta exacta, NUNCA te inventes la información usando tus conocimientos generales. Simplemente responde de forma educada: \"Lo siento, pero no tengo esa información planificada para el viaje.\""
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          240,
          0
        ],
        "id": "0d236cba-cfa4-4eae-bb9a-6e69301b7179",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-5-mini",
            "mode": "list",
            "cachedResultName": "gpt-5-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          192,
          256
        ],
        "id": "fe689565-fe0e-49bc-98e0-76d3d3b6bd42",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "gEzPBcRmEe0j48wa",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Webhook').item.json.headers['x-forwarded-host'] }}",
          "contextWindowLength": 8
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          336,
          240
        ],
        "id": "416a54bc-de52-452c-a1d8-3b825b9b72bf",
        "name": "Simple Memory"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.2,
        "position": [
          400,
          496
        ],
        "id": "3f5d866c-7d16-4ab1-9adf-4e293208754e",
        "name": "Embeddings OpenAI",
        "credentials": {
          "openAiApi": {
            "id": "gEzPBcRmEe0j48wa",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolDescription": "Contienes información sobre los viajes a Bali",
          "pineconeIndex": {
            "__rl": true,
            "value": "ragudia",
            "mode": "list",
            "cachedResultName": "ragudia"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
        "typeVersion": 1.3,
        "position": [
          464,
          304
        ],
        "id": "b84b5f93-a8be-4f63-b0d9-eddd5be7af27",
        "name": "Pinecone Vector Store1",
        "credentials": {
          "pineconeApi": {
            "id": "zCodaTVHTy2Phtkd",
            "name": "PineconeApi account"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI": {
        "ai_embedding": [
          [
            {
              "node": "Pinecone Vector Store1",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Respond to ElevenLabs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pinecone Vector Store1": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Iván Ramos Abelaira",
    "name": "Version 26f2c77b",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "26f2c77b-3767-4838-a28f-7966f0a2144a",
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to ElevenLabs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-10T11:12:07.993Z",
  "id": "TcVOJnglagFoA5Lb",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "UDIA chatbot de voz con ElevenLabs",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "elevenlabs",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "10198067-660b-443a-acd4-9c64326212d2",
      "name": "Webhook",
      "webhookId": "c07c1369-a71d-4704-9a10-cff1b9b09222"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        560,
        0
      ],
      "id": "aec372ac-3b90-4381-99bf-782babdd07f9",
      "name": "Respond to ElevenLabs"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.pregunta }}",
        "options": {
          "systemMessage": "Eres un asistente experto y profesional especializado en la planificación de mi viaje a Bali. Para responder a cualquier pregunta, OBLIGATORIAMENTE debes usar la herramienta Pinecone Vector Store para obtener los datos correctos.\n\nREGLAS DE ESTILO MUY IMPORTANTES:\n\nResponde con naturalidad, autoridad y de forma directa.\n\nNUNCA uses frases como \"Según tus notas\", \"El documento dice\", \"En la base de datos encontré\" o similares. Finge que esta información es tu propio conocimiento experto.\n\nSi Pinecone no te devuelve resultados o no tienes la respuesta exacta, NUNCA te inventes la información usando tus conocimientos generales. Simplemente responde de forma educada: \"Lo siento, pero no tengo esa información planificada para el viaje.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        240,
        0
      ],
      "id": "0d236cba-cfa4-4eae-bb9a-6e69301b7179",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        192,
        256
      ],
      "id": "fe689565-fe0e-49bc-98e0-76d3d3b6bd42",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "gEzPBcRmEe0j48wa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.headers['x-forwarded-host'] }}",
        "contextWindowLength": 8
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        336,
        240
      ],
      "id": "416a54bc-de52-452c-a1d8-3b825b9b72bf",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        400,
        496
      ],
      "id": "3f5d866c-7d16-4ab1-9adf-4e293208754e",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "gEzPBcRmEe0j48wa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Contienes información sobre los viajes a Bali",
        "pineconeIndex": {
          "__rl": true,
          "value": "ragudia",
          "mode": "list",
          "cachedResultName": "ragudia"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        464,
        304
      ],
      "id": "b84b5f93-a8be-4f63-b0d9-eddd5be7af27",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "zCodaTVHTy2Phtkd",
          "name": "PineconeApi account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-03-10T11:12:07.995Z",
      "createdAt": "2026-03-10T11:12:07.995Z",
      "role": "workflow:owner",
      "workflowId": "TcVOJnglagFoA5Lb",
      "projectId": "sqRrmI8D55iXyASx"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-10T11:38:57.699Z",
  "versionId": "26f2c77b-3767-4838-a28f-7966f0a2144a"
}