workflows/Udia RAG: Chatbot Whatsapp.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-09T19:29:36.000Z",
    "createdAt": "2026-03-09T19:29:16.472Z",
    "versionId": "816c18d8-4fc9-42b1-b839-31ea03463120",
    "workflowId": "7nMHZSoUoyIuJMNF",
    "nodes": [
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.messages[0].text.body }}",
          "options": {
            "systemMessage": "Eres un asistente experto y profesional especializado en la planificación de mi viaje a Bali. Para responder a cualquier pregunta, OBLIGATORIAMENTE debes usar la herramienta Pinecone Vector Store para obtener los datos correctos.\n\nREGLAS DE ESTILO MUY IMPORTANTES:\n\nResponde con naturalidad, autoridad y de forma directa.\n\nNUNCA uses frases como \"Según tus notas\", \"El documento dice\", \"En la base de datos encontré\" o similares. Finge que esta información es tu propio conocimiento experto.\n\nSi Pinecone no te devuelve resultados o no tienes la respuesta exacta, NUNCA te inventes la información usando tus conocimientos generales. Simplemente responde de forma educada: \"Lo siento, pero no tengo esa información planificada para el viaje.\""
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          208,
          0
        ],
        "id": "0a181372-0f3b-4d25-be69-4e4ad08f6d96",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-5-mini",
            "mode": "list",
            "cachedResultName": "gpt-5-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          80,
          208
        ],
        "id": "a108a008-c27c-4f3c-ac2a-cd4bd9cef898",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "gEzPBcRmEe0j48wa",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
          "contextWindowLength": 8
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          224,
          208
        ],
        "id": "47e558c9-1aeb-4752-84ce-ac445bb78aca",
        "name": "Simple Memory"
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolDescription": "Herramienta obligatoria para buscar información sobre el viaje a Bali, presupuestos, visados, transporte y reglas. Úsala SIEMPRE que el usuario haga una pregunta para buscar las notas de su viaje.\n\n",
          "pineconeIndex": {
            "__rl": true,
            "value": "ragudia",
            "mode": "list",
            "cachedResultName": "ragudia"
          },
          "options": {
            "pineconeNamespace": "udia_rag"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
        "typeVersion": 1.3,
        "position": [
          416,
          224
        ],
        "id": "8ed1f80a-60c7-43b3-b25a-5f75e91df02b",
        "name": "Pinecone Vector Store",
        "credentials": {
          "pineconeApi": {
            "id": "zCodaTVHTy2Phtkd",
            "name": "PineconeApi account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.2,
        "position": [
          512,
          432
        ],
        "id": "10eb5e98-6c23-425b-90e0-45bb2f080cbb",
        "name": "Embeddings OpenAI",
        "credentials": {
          "openAiApi": {
            "id": "gEzPBcRmEe0j48wa",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "updates": [
            "messages"
          ],
          "options": {
            "messageStatusUpdates": [
              "all"
            ]
          }
        },
        "type": "n8n-nodes-base.whatsAppTrigger",
        "typeVersion": 1,
        "position": [
          -288,
          -16
        ],
        "id": "fb0a8e57-0347-479b-9591-0be9380aca1c",
        "name": "WhatsApp Trigger",
        "webhookId": "e88e28af-c1d3-416e-979b-aae4c9c80d07",
        "credentials": {
          "whatsAppTriggerApi": {
            "id": "YaI44kraKlZRP6hi",
            "name": "WhatsApp OAuth account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://graph.facebook.com/v21.0/935213626353017/messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer EAAhYYlkfJZAwBQ0KghrquIJm1KZBMFwTjQSi64MyvwSn2ZCRKrGaJFUl1LN4SZCiepBmrQFxttd26V2soXIZBqzHXIViq3aNkA57uPyYZASsRjoZCLYEA4N31IECScg8Le8D0PjzQvoPjVAn8daUFoHgZC37C9raRuu2Qi0T1rfWNkbxLHzbe9a0ZC3z89cZBZAYbhQFW4o0AUcScATtT7rgCq9CNa0dIrZBcIYVVZB4fhoJZBMoUca42ccucJFpMrVHa6GMZBYv1uKtZBELX2GUyjeeYjNLEBq0"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"34637201792\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": {{ JSON.stringify($json.payload.text.body) }}\n  }\n}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          816,
          16
        ],
        "id": "f95ab45a-6c80-4d72-a50f-5f9e45eea515",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "jsCode": "// Cogemos el texto que viene de la IA o del nodo anterior\nlet messageText = $json.output;\n\n// Esta función asegura que el texto sea seguro para un JSON\n// convirtiendo saltos de línea reales en la cadena \"\\n\"\nreturn {\n  payload: {\n    \"messaging_product\": \"whatsapp\",\n    \"to\": \"34637201792\",\n    \"type\": \"text\",\n    \"text\": {\n      \"body\": messageText\n    }\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          560,
          0
        ],
        "id": "f07e5268-cf28-45ba-963c-b04a342542d5",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "3b52c522-febd-40e1-935a-2bdfcf080b82",
                "leftValue": "={{ $json.messages[0] }}",
                "rightValue": "",
                "operator": {
                  "type": "object",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -80,
          -16
        ],
        "id": "b4d7c37f-54ec-4562-acfd-767ac6035227",
        "name": "If"
      }
    ],
    "connections": {
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Pinecone Vector Store": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI": {
        "ai_embedding": [
          [
            {
              "node": "Pinecone Vector Store",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "WhatsApp Trigger": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Iván Ramos Abelaira",
    "name": "Chatbot Bali",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "816c18d8-4fc9-42b1-b839-31ea03463120",
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-09T17:54:32.731Z",
  "id": "7nMHZSoUoyIuJMNF",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Udia RAG: Chatbot Whatsapp",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "Eres un asistente experto y profesional especializado en la planificación de mi viaje a Bali. Para responder a cualquier pregunta, OBLIGATORIAMENTE debes usar la herramienta Pinecone Vector Store para obtener los datos correctos.\n\nREGLAS DE ESTILO MUY IMPORTANTES:\n\nResponde con naturalidad, autoridad y de forma directa.\n\nNUNCA uses frases como \"Según tus notas\", \"El documento dice\", \"En la base de datos encontré\" o similares. Finge que esta información es tu propio conocimiento experto.\n\nSi Pinecone no te devuelve resultados o no tienes la respuesta exacta, NUNCA te inventes la información usando tus conocimientos generales. Simplemente responde de forma educada: \"Lo siento, pero no tengo esa información planificada para el viaje.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "0a181372-0f3b-4d25-be69-4e4ad08f6d96",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "a108a008-c27c-4f3c-ac2a-cd4bd9cef898",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "gEzPBcRmEe0j48wa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "contextWindowLength": 8
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "47e558c9-1aeb-4752-84ce-ac445bb78aca",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Herramienta obligatoria para buscar información sobre el viaje a Bali, presupuestos, visados, transporte y reglas. Úsala SIEMPRE que el usuario haga una pregunta para buscar las notas de su viaje.\n\n",
        "pineconeIndex": {
          "__rl": true,
          "value": "ragudia",
          "mode": "list",
          "cachedResultName": "ragudia"
        },
        "options": {
          "pineconeNamespace": "udia_rag"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        224
      ],
      "id": "8ed1f80a-60c7-43b3-b25a-5f75e91df02b",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "zCodaTVHTy2Phtkd",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        512,
        432
      ],
      "id": "10eb5e98-6c23-425b-90e0-45bb2f080cbb",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "gEzPBcRmEe0j48wa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": [
            "all"
          ]
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        -16
      ],
      "id": "fb0a8e57-0347-479b-9591-0be9380aca1c",
      "name": "WhatsApp Trigger",
      "webhookId": "e88e28af-c1d3-416e-979b-aae4c9c80d07",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "YaI44kraKlZRP6hi",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v21.0/935213626353017/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAhYYlkfJZAwBQ0KghrquIJm1KZBMFwTjQSi64MyvwSn2ZCRKrGaJFUl1LN4SZCiepBmrQFxttd26V2soXIZBqzHXIViq3aNkA57uPyYZASsRjoZCLYEA4N31IECScg8Le8D0PjzQvoPjVAn8daUFoHgZC37C9raRuu2Qi0T1rfWNkbxLHzbe9a0ZC3z89cZBZAYbhQFW4o0AUcScATtT7rgCq9CNa0dIrZBcIYVVZB4fhoJZBMoUca42ccucJFpMrVHa6GMZBYv1uKtZBELX2GUyjeeYjNLEBq0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"34637201792\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": {{ JSON.stringify($json.payload.text.body) }}\n  }\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        816,
        16
      ],
      "id": "f95ab45a-6c80-4d72-a50f-5f9e45eea515",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Cogemos el texto que viene de la IA o del nodo anterior\nlet messageText = $json.output;\n\n// Esta función asegura que el texto sea seguro para un JSON\n// convirtiendo saltos de línea reales en la cadena \"\\n\"\nreturn {\n  payload: {\n    \"messaging_product\": \"whatsapp\",\n    \"to\": \"34637201792\",\n    \"type\": \"text\",\n    \"text\": {\n      \"body\": messageText\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        0
      ],
      "id": "f07e5268-cf28-45ba-963c-b04a342542d5",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3b52c522-febd-40e1-935a-2bdfcf080b82",
              "leftValue": "={{ $json.messages[0] }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -80,
        -16
      ],
      "id": "b4d7c37f-54ec-4562-acfd-767ac6035227",
      "name": "If"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-03-09T17:54:32.735Z",
      "createdAt": "2026-03-09T17:54:32.735Z",
      "role": "workflow:owner",
      "workflowId": "7nMHZSoUoyIuJMNF",
      "projectId": "sqRrmI8D55iXyASx"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-09T19:29:16.472Z",
  "versionId": "816c18d8-4fc9-42b1-b839-31ea03463120"
}